@using CvMvc.Models.Entity
@model List<TblMyEducations>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Education List</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Header</th>
        <th>Sub Header 1</th>
        <th>Sub Header 2</th>
        <th>GPA</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.ID</td>
    <td>@x.Header</td>
    <td>@x.SubHeader1</td>
    <td>@x.SubHeader2</td>
    <td>@x.Date</td>
    <td>@x.GPA</td>
    <td>
        <a class="btn btn-info btn-sm" href="/Education/EditEducation/@x.ID"><i class="fas fa-pencil-alt"></i>Edit</a>
    </td>
    <td>
        <a class="btn btn-danger btn-sm" href="/Education/DeleteEducation/@x.ID"><i class="fas  fa-trash"></i>Delete</a>
    </td>
</tr>
    }
</table>
<a href="/Education/AddEducation" class="btn btn-primary">Add New Experience</a>
